@import 'tailwindcss';

:root {
	/* font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	line-height: 1.5;
	font-style: normal;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	--background-dark: #09090b;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bg-dark {
	@apply bg-[var(--background-dark)];
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}
